doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header         
        a(href='/dashboard') Volver  

        h1 Modificar Oferta
        section 
                form(action=`/api/ads/?_method=PUT&currentOfferId=${offer._id}` method="POST")
                        label(for="title") Puesto
                        input#title(type='text' name='title' value=offer.title required='')
                        
                        label(for="companyName") Compañia
                        input#companyName(type='text' name='companyName' value=offer.companyName required='')
                        
                        label(for="description") Descripción
                        input#description(type='text' name='description' value=offer.description required='')
                        
                        label(for="salary") Salario
                        input#salary(type='number' name='salary' value=offer.salary required='')
                        
                        label(for="location") Localización
                        input#location(type='text' name='location' value=offer.location required='')
                        
                        label(for="URL") URL
                        input#URL(type='text' name='URL' value=offer.URL required='')

                        input(type="submit", value="Modificar Oferta")
                     
        script(src="/js/script.js") 