doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header         
        a(href='/dashboard/create') Crear Oferta   

        h1 Esto son todas las ofertas de trabajo
            section 
                each offer in result
                    article 
                        p Puesto: #{offer.title}
                        p Compañia: #{offer.companyName}
                        a(href=offer.URL) Link a la oferta 
                        p Salario: #{offer.salary}
                        p Descripción: #{offer.description}                    
                        p localización: #{offer.location}
                        a(href=`/dashboard/edit/?currentOfferId=${offer._id}`) Modificar Oferta 
                        form(action=`/api/ads?_method=DELETE&currentOfferId=${offer._id}`, method="post")
                            input(type="submit", value="Borrar esta oferta")
                    hr
                     
        script(src="/js/dropdown_menu.js")    