doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/normalize.css")
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    body 
        include ./header  
              
        a(href='/dashboard') Volver  

        h2 Crear Oferta
        section.container
                form.containerForm(action="/api/ads" method="POST")
                        label(for="title") Puesto
                        input#title(type='text' name='title' value=typeof title != 'undefined' ? title : '' placeholder='Nombre Oferta' required='')
                        
                        label(for="companyName") Compañia
                        input#companyName(type='text' name='companyName' value=typeof companyName != 'undefined' ? companyName : '' placeholder='Nombre Empresa' required='')
                        
                        label(for="description") Descripción
                        input#description(type='text' name='description' value=typeof description != 'undefined' ? description : '' placeholder='Descripción' required='')
                        
                        label(for="salary") Salario
                        input#salary(type='number' name='salary' value=typeof salary != 'undefined' ? salary : '' placeholder='Salario' required='')
                        
                        label(for="location") Localización
                        input#location(type='text' name='location' value=typeof location != 'undefined' ? location : '' placeholder='Localización' required='')
                        
                        label(for="URL") URL
                        input#URL(type='text' name='URL' value=typeof URL != 'undefined' ? URL : '' placeholder='URL' required='')

                        input#btnSignup(type="submit", value="Crear Oferta")
                     
        script(src="/js/dropdown_menu.js") 