doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Favoritos
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header

        h1 Lista de Favoritos
        section.user-favorites 
            each fav in favorites
                article.favorite-info
                    p #{fav.title}
                    p #{fav.companyName}
                    p #{fav.url}
                    p #{fav.description}
                    p #{fav.salary}
                    p #{fav.location}

        script(src="/js/script.js")