doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Home
      link(rel="stylesheet", href="/css/styles.css")
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
   body 

   body 
         include ./header
         include ./cabecera

         div.sectionOffer
            h1 Buscar Oferta
            div.containerForm
            form.searchForm(action="/api/search" method="GET")
            div.input1
               label(for="keywordSearch") Busco ofertas de...
               input#keywordSearch(type='text' name='keywordSearch' value=typeof keyword != 'undefined' ? keyword : ''  placeholder='Puesto, empresa o palabra clave' required='')
            div.input2
               label(for="locationSearch") En...
               input#locationSearch(type='text' name='locationSearch' value=typeof location != 'undefined' ? location : '' placeholder='Toda España')
            div.button
               input.btnSearch(type='submit' value="Buscar")

         if dataList
            section 
               each offer in dataList
                  article.offer-info 
                     p.offer-title #{offer.title}
                     p.offer-company-name #{offer.companyName}
                     p.offer-description #{offer.description}
                     p.offer-location #{offer.location}
                     p.offer-salary #{offer.salary}
                     a.offer-link(href=offer.url || offer.URL) Link a la oferta
                     if role && role === 2
                        span.offer-favorite.fav-no &#9733;
                  hr   
         script(src="/js/dropdown_menu.js") 
         script(src="/js/add_favorites.js")