doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Home
      link(rel="stylesheet", href="/css/styles.css")
   body 
         include ./header
         h1 Buscar Oferta
         form.searchForm(action="/api/search" method="GET")
            label(for="keywordSearch") Busco ofertas de...
            input#keywordSearch(type='text' name='keywordSearch' value=typeof keyword != 'undefined' ? keyword : ''  placeholder='Puesto, empresa o palabra clave' required='')

            label(for="locationSearch") En...
            input#locationSearch(type='text' name='locationSearch' value=typeof location != 'undefined' ? location : '' placeholder='Toda España')
  
            input.btnSearch(type='submit' value="Buscar")

         if dataList
            section 
               each offer in dataList
                  article.offer-info 
                     p.offer-title #{offer.title}
                     p.offer-company-name #{offer.companyName}
                     p.offer-description #{offer.description}
                     p.offer-location #{offer.location}
                     p.offer-salary #{offer.salary}
                     a.offer-link(href=offer.url || offer.URL) Link a la oferta
                     if role && role === 2
                        span.offer-favorite.fav-no &#9733;
                  hr   
         script(src="/js/dropdown_menu.js") 
         script(src="/js/add_favorites.js")