doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Perfil
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header
        h1 Tú Perfil
        section.user-profile
            p #{data.name}
            p #{data.email}
            p #{data.age}
            p #{data.tlf}
            p #{data.dni}
        a(href="edit/") Modificar Perfil
        script(src="/js/script.js")
            