doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign Up
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/normalize.css")
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    body 
        include ./header

        h2 Crea tu cuenta 

        include ./messages
        
        form.containerForm(action="/api/user" method="POST")
            h3 Datos de Usuario

            label(for="userName") Nombre y Apellido
            input#userName(type='text' name='userName' placeholder='Nombre' value=typeof userName != 'undefined' ? userName : '' required='')
        
            label(for="userEmail") Email
            input#userEmail(type='email' name='userEmail' placeholder='Email' value=typeof userEmail != 'undefined' ? userEmail : '' required='')

            label(for="userPassword") Contraseña
            input#userPassword(type='password' name='userPassword' placeholder='Contraseña' value=typeof userPassword != 'undefined' ? userPassword : '' required='')

            label(for="userPassword") Repite la Contraseña
            input#userPassword(type='password' name='userPassword2' placeholder='Contraseña' value=typeof userPassword2 != 'undefined' ? userPassword2 : ''  required='')

            label(for="userAge") Edad
            input#userAge(type='number' name='userAge' placeholder='edad' value=typeof userAge != 'undefined' ? userAge : '' required='')

            label(for="userTlf") Teléfono (+34)
            input#userTlf(type='text' name='userTlf' placeholder='tlf' value=typeof userTlf != 'undefined' ? userTlf : '' maxlength='9' required='')

            label(for="userDni") DNI
            input#userDni(type='text' name='userDni' placeholder='dni' value=typeof userDni != 'undefined' ? userDni : '' maxlength='9' required='')

            input#btnSignup(type='submit' value='Crear Cuenta')
        script(src="/js/dropdown_menu.js")