doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Users
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/styles.css")
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    body 
        include ./header
        
        a(href="/user/create") Crear Usuario
        h2 Usuarios Registrados
        section 
            each user in users 
                article 
                    p #{user.user_name}
                    p #{user.user_email}
                    p #{user.user_password}
                    p #{user.user_tlf}
                    p #{user.user_age}
                    p #{user.user_dni}
                    a(href=`/user/edit/?currentUserEmail=${user.user_email}`) Modificar Usuario 
                    form(action=`/api/user?_method=DELETE&currentUserEmail=${user.user_email}`, method="post")
                        input(type="submit", value="Borrar a este usuario")
                hr
                
        script(src="/js/dropdown_menu.js")