doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Perfil
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/styles.css")
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    body 
        include ./header
        
        h2 Modifica los campos 
        
        form.containerForm(action=`/api/user/?_method=PUT&currentUserEmail=${user.user_email}`, method="POST") 
            
            label(for="userName") Nombre
            input#userName(type="text" name='userName' value=user.user_name required='')

            label(for="userAge") Edad
            input#userAge(type="number" name='userAge' value=user.user_age required='')

            label(for="userTlf") Telefono
            input#userTlf(type="text" name='userTlf' value=user.user_tlf maxlength='9' required='')

            label(for="userDNI") DNI
            input#userDNI(type="text" name='userDNI' value=user.user_dni maxlength='9' required='')

            input#btnSignup(type="submit", value="Modificar")
        script(src="/js/dropdown_menu.js")