doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Users
    body 
    h1 aqui va lista que vera el administrador con los usuarios registrados
        each users in result
            p #{users.user_name}
            p #{users.user_email}
            p #{users.user_password}
            p #{users.user_age}
            p #{users.user_dni}
            hr